<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n </pattern>
        </encoder>
    </appender>

    <logger name="com.ghgande.j2mod.modbus.io.FastByteArrayInputStream" level="OFF"/>
    <logger name="com.ghgande.j2mod.modbus.io.FastByteArrayOutputStream" level="OFF"/>
    <logger name="com.ghgande.j2mod.modbus.io.ModbusTCPTransport" level="OFF"/>
    <logger name="com.ghgande.j2mod.modbus.util.BitVector" level="OFF"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>